<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123056853600-khfo7eurafnbu3d79mgfss9chjpg1cos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123056853600-khfo7eurafnbu3d79mgfss9chjpg1cos</string>
	<key>API_KEY</key>
	<string>AIzaSyCVPIePTKBwfvQlm1Sc4htEECouz745gPo</string>
	<key>GCM_SENDER_ID</key>
	<string>123056853600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.ammarafzal.recipesCookbook</string>
	<key>PROJECT_ID</key>
	<string>recipe-4c6a4</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-4c6a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123056853600:ios:a7daa423d4af82a2a56905</string>
</dict>
</plist>